* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

header {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
}

.header-content-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 795px;
    background-image: url("../images/light_on_wo_box.jpg");
    background-repeat: no-repeat;
}

.slider {
    width: 382px;
    height: 284px;
    position: absolute;
    top: 150px;
    left: 769px;
    z-index: 0;
}

.prev {
    width: 100px;
    height: 284px;
    position: absolute;
    top: 150px;
    left: 769px;
    z-index: 2;
    opacity: 0;
}

.next {
    width: 100px;
    height: 284px;
    position: absolute;
    top: 150px;
    left: 1051px;
    z-index: 2;
    opacity: 0;
}

.picture-frame {
    width: 382px;
    height: 284px;
    position: absolute;
    top: 150px;
    left: 769px;
    z-index: 1;
}

.boxes {
    width: 315px;
    height: 180px;
    position: absolute;
    display: block;
    bottom: 20px;
    left: 350px;
    background-image: url("../images/boxes.png");
    background-repeat: no-repeat;
    z-index: 2;
}

.boxes:hover {
    background-image: url("../images/boxes_move.png");
    background-repeat: no-repeat;
}

.header-content {
    position: relative;
    width: 100%;
    height: 795px;
}

.header-top-menu {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.header-top-menu ul {
    max-width: 1300px;
    display: inline-flex;
    justify-content: space-between;
    font-family: Arial;
    font-weight: bold;
}

.header-top-menu li {
    width: 6em;
    font-size: 1.5em;
    padding: 0.1em;
    list-style-type: none;
}

.header-top-menu li:nth-child(4) {
    margin-right: 200px;
}

.header-top-menu a {
    text-decoration: none;
    color: #a6896f;
}

.header-top-menu a:hover {
    color: #e2c7b5;
}

.header-top-menu a:active {
    color: #3a2216;
}

form {
    position: absolute;
    top: 5%;
    right: 2%;
}

form button {
    width: 3em;
    height: 2em;
    margin-bottom: 0.3em;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    background-image: url("../images/button_bg.jpg");
    background-position: center;
    color: #3a2216;
    font-weight: bold;
}

form label {
    display: inline-block;
    width: 4em;
    color: #3a2216;
    background-image: url("../images/button_bg.jpg");
    border-radius: 3px;
    padding: 0.2em;
    margin-right: 0.2em;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 6px 3px #28140d;
}

.header-user-menu {
    margin: 3em 0 0 2em;
    width: 220px;
}

.header-user-menu a {
    text-decoration: none;
    color: #a6896f;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    margin: auto 0;
}

.user-main-menu {
    list-style-type: none;
    background-image: url("../images/bg_menu.jpg");
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-left: 1px;
    position: relative;
    box-shadow: 0 0 20px 10px #000000;
}

.user-main-menu li {
    background-image: url("../images/bg_menu_item.jpg");
    background-repeat: no-repeat;
    width: 218px;
    height: 40px;
    padding: 0.2rem;
    display: flex;
    margin-bottom: 1px;
}

.user-main-menu li:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.user-main-menu li:nth-child(4) {
    border-radius: 0 0 5px 5px;
}

.user-submenu {
    position: absolute;
    left: 100%;
    top: 40px;
    display: none;
    background-image: url("../images/bg_menu.jpg");
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #000000;
}

.user-submenu li:nth-child(3) {
    border-radius: 0 0 5px 5px;
}

.user-submenu a {
    font-size: 1rem;
    color: #a6896f;
}

.user-main-menu li:hover .user-submenu {
    display: block;
}

.user-main-menu li:hover {
    background-image: url("../images/bg_menu.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-main-menu li:hover a {
    color: #e2c7b5;
}

main {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}

.main-content-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 1226px;
    background-image: url("../images/underground2.jpg");
    background-repeat: no-repeat;
}

.main-content {
    position: relative;
    width: 100%;
    height: 1226px;
}

.array {
    color: white;
    overflow: auto;
    height: 1226px;
}

.array div {
    width: 100px;
    height: 150px;
    overflow: hidden;
    text-align: center;
}

.array td {
    width: 100px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    border: 2px double sandybrown;
}

.array th {
    font-weight: bold;
    width: 100px;
    height: auto;
    overflow: hidden;
    text-align: center;
    border: 2px double sandybrown;
}

.array img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.array table {
    border: 2px double sandybrown;
}
